src/main/resources/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.azarenko.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="application" type="azar:applicationType" xmlns:azar="http://www.azarenko.com"/>
  <xs:complexType name="applicationType">
    <xs:sequence>
      <xs:element type="azar:adminPagesType" name="adminPages" xmlns:azar="http://www.azarenko.com"/>
      <xs:element type="azar:userPagesType" name="userPages" xmlns:azar="http://www.azarenko.com"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="adminPagesType">
    <xs:sequence>
      <xs:element name="page" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="admin_add_edit_publication.jsp"/>
            <xs:enumeration value="admin_catalog.jsp"/>
            <xs:enumeration value="payment.jsp"/>
            <xs:enumeration value="subscription.jsp"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userPagesType">
    <xs:sequence>
      <xs:element name="page" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="my_periodical.jsp"/>
            <xs:enumeration value="news.jsp"/>
            <xs:enumeration value="my_profile.jsp"/>
            <xs:enumeration value="profile.jsp"/>
            <xs:enumeration value="registration.jsp"/>
            <xs:enumeration value="shopping_cart.jsp"/>
            <xs:enumeration value="subscribe.jsp"/>
            <xs:enumeration value="user_catalog.jsp"/>
            <xs:enumeration value="user_catalog_currrent.jsp"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>