src/main/resources/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="application" type="applicationType"/>
  <xs:complexType name="applicationType">
    <xs:sequence>
      <xs:element type="adminPagesType" name="adminPages"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="adminPagesType">
    <xs:sequence>
      <xs:element name="page" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>